# ignore all but those explicitly allowed
*

!README.md
!LICENSE
!.editorconfig
!.gitignore

!src/
!src/_script_template.sh
!src/common.sh
!src/disable-beacon.sh
!src/disable-geth.sh
!src/disable-validator.sh
!src/enable-beacon.sh
!src/enable-geth.sh
!src/enable-validator.sh
!src/env-base.sh
!src/exit.sh
!src/print-env.sh
!src/setup-env.sh
!src/setup-filesystem.sh
!src/setup-firewall.sh
!src/setup-unit-files.sh

!test/
!test/tests.sh

!docs/
!docs/hardware-requirements.md
!docs/initial-setup.md

!tools/
!tools/deploy.sh
!tools/generated.txt
!tools/non-generated.txt
