# ignore all but those explicitly allowed
*

!README.md
!LICENSE
!.gitignore
!.editorconfig

!scripts/
!scripts/env-base.sh
!scripts/common.sh
!scripts/setup-env.sh
!scripts/setup-firewall.sh
!scripts/setup-filesystem.sh
!scripts/setup-unit-files.sh
!scripts/print-env.sh
!scripts/exit.sh

!test/
!test/tests.sh

!docs/
!docs/hardware-requirements.md
!docs/initial-setup.md

!tools/
!tools/deploy.sh
!tools/includes.txt
